:root {
  --text: #FFD498;
  --background: #7f8c8d;
  --accent-primary: #DF3D2E;
  --accent-secondary: #700414;
  --accent-tertiary: #FE5825;
  --accent-alternative: #047C51;
}

body {
    line-height: 1.7em;
    color: var(--text);
    background-color: var(--background);
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
    color: var(--accent-primary);
}

.banner {
    background: var(--accent-alternative);
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: var(--background);
}

.spotlight:before {
  content: '';
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  --height: 3.5em;
  height: var(--height);
  left: 0;
  top: calc(-1 * var(--height));
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 100,100' fill='%237f8c8d' /%3E%3C/svg%3E");
}

.ribbon {
    background: var(--accent-alternative);
}